.logo-div {
  text-align: center;
}

.logo-text {
  font-size: 20vmin;
  color: #1F1300;
}

.sunday {
}

.sunday {
  margin-top: -9vmin;
}

.sun {
  position: relative;
  z-index: -1;
  color: orange;
}

/* .circle {
  background: lightblue;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  position: relative
} */

