.emilyPic {
  transform: rotate(5deg);
}

.jewleryPic {
  transform: rotate(-5deg);
}

.home-container {
  margin-top: 5em;
}

.home-section {
  padding: 50px;

}

.home-section-text {
  margin: 0;
  padding: 20px;
  border-radius: 5px;
  position:relative;
}

.fa {
  font-size: 8em;
  color: #FFC15E;
  position: absolute;
  display: -webkit-box;
  display: flex;

  align-items: center;
  justify-content: center;
  z-index: -1;
}

 .bg-yellow {
   background-color: #FFC15E;
 }

 .bg-light-orange {
  background-color: #F7B05B;
}

.bg-orange {
  background-color: #F7934C;
}

.bg-red {
  background-color: #CC5803;
}

.bg-grey {
  background-color: #1F1300;
}
